<%= image_tag("#{@program.photo_file_name}", alt: "Program", class: "program")%>
<br/>
<br/>
<% @new_comment.errors.full_messages.each do |msg| %>
	<h1><%= msg %></h1>
<% end %>
<% if (session[:user_id] != nil) then %>
	<%= form_for(@new_comment, :method => :post, :url => {:action => :create, :id => @new_comment.id, :program_id => @program.id}) do |form| %>
		<table class="form">
			<tr class = "login_row">
				<td>
					<%= form.label(:new_comment, "Comment:")%>
					<%= form.text_field(:comment) %>
					<%= form.submit "Post Comment" %>
				</td>
			</tr>
		<table>
	<% end %>
<% else %>
	<h1><%= "Log in to comment on this program." %></h1>
<% end %>
<br/>
<br/>
<br/>

