<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.11.3.min.js" %>
  <!-- <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>-->
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <style>
  </style>

</head>
<body>

<!-- Homepage -->
<div data-role="page">
  <!-- figure out whose page it is -->
  

    <!--Navigation Bar-->
  <div data-role="navbar">
    <ul>
      <li><a href="/users/homepage" class="ui-btn ui-icon-home ui-btn-icon-top ui-nodisc-icon" id = "home_icon"> </a></li>
      <li><a href="/professions/quiz" class="ui-btn ui-icon-heart ui-btn-icon-top ui-nodisc-icon" id = "interests_icon"> </a></li>
      <li><a href="/programs/search" class="ui-btn ui-icon-search ui-btn-icon-top ui-nodisc-icon" id = "search_icon"> </a></li>
      <li><a href="/users/logout" class="ui-btn ui-icon-back ui-btn-icon-top ui-nodisc-icon" id = "logout_icon"> </a></li>
    </ul>
  </div>

  <br>
  <br>
  <% person = User.find_by_id(session[:user_id]) %>
  <% if (person == nil) then %>
    <center><h1>
      <%= link_to("Log in to view this page", controller: "users", action: "login") %>
    </h1></center>
  <% else %>

    <%= form_for(@program, :method => :post, :url => {:action => :analyze_filters, :id => @program.id}) do |form| %>
      <div class="ui-field-contain">
        <div>
          <%= form.label(:title, "Program Name:")%>
          <%= form.text_field(:title) %>
        </div>

        <br/> 
        <div>
          <%= form.label(:price, "Price:")%>
          <%= form.text_field(:price) %> 
        </div>    

        <div>
          <%= form.select(:region, @all_regions,{ :prompt => "Please select a region"}) %>
        
        </div>
        <div>
          <%= form.select(:professions, @user_professions,{ :prompt => "Please select a profession"}) %>
        </div>

        <div>
          <%= radio_button_tag(:location_type, "Rural") %>
          <%= label_tag(:location_type_Rural, "Rural") %>
          <%= radio_button_tag(:location_type, "Urban") %>
          <%= label_tag(:location_type_Urban, "Urban") %>
        </div>

        <div>
          <%= radio_button_tag(:paid, "yes") %>
          <%= label_tag(:paid_yes, "Strong preference toward paid") %>
          <%= radio_button_tag(:paid, "no") %>
          <%= label_tag(:paid_no, "Unpaid is also acceptable") %>
        </div>
            
        <br/>
        <br/>
      </div>
      <div>
        <%= form.submit "Filter Results" %>
      </div>
      <br/>
    <% end %>
  <% end %>
</div>

  
</body>
</html>













