<!-- Homepage -->
<div data-role="page">


  <!-- figure out whose page it is -->

  <% person = User.find_by_id(session[:user_id]) %>
  <% if (person == nil) then %>
    <center><h1>
      <%= link_to("Log in to view this page", controller: "users", action: "login") %>
    </h1></center>
  <% else %>
    <%= render "layouts/nav" %>

    <!--Main Page: Contains the main content on the page -->
    <div data-role="main" class="ui-content">
      <h1><center>opportunities</center></h1>


      <div  data-theme="a" id="custom-footer" class="ui-grid-a"  data-position="fixed">
        <div  class="ui-block-a" >
            <a href="#filter_panel" data-role="button" data-mini="true" id ="filter_button" data-inline="true">filter</a>
        </div>
        <div  class="ui-block-b" >


            <!--SEARCH BAR HERE -->
            <%= form_tag do %>
              <%= text_field_tag :substring, '', :id => "substring", :placeholder => "begin searching..." %>
            <% end %>
            <br/><br/><br/>

        </div>
      </div>

      <!-- Dynamic search stuff -->
      
      <% @all_programs_ajax.each do |program| %>
      <div class = "individual-program">
        <a class = "button-link" href = "/programs/oneprogram/<%= program.id %>" >
          <button type="button" class = "program-buttons">
            <h3><%= program.title %></h3>
          </button>
        </a>
      </div>
        
        
      <% end %>
      <% @all_programs_ajax.clear %>

      <div id="information">

      </div>

      <%= javascript_tag "var parser = new Parser('substring', 'information', '<br/><br/><br/>', '<div id=\"information\">')"; %>

      <%= @params_test %>
      <!-- end of dynamic search stuff -->

      <div id="list">
        <h2><center>List of Results</center></h2>
        <ul data-role="listview" data-inset="true">
          <% for program in @all_programs %>
            <% if (program.due_date != nil) %>

                <li><a href="/programs/oneprogram/<%= program.id %>" >
                    <h2><%= program.title %></h2>
                    <p><%= program.description %></p>
                </a></li>
              
            <% end %>
          <% end %>
        </ul>
      </div>
    </div> 



    <!--Panel: Contains the filter options through a panel that pushes out -->
    <div data-role="panel" data-display="push" id="filter_panel"> 
      <h1><center>filters</center></h1>
<!--       <div data-role="header" id = "panel_header">
        <p id = "filter_title">filters</p>
      </div> -->

        <%= form_for(@program, :method => :post, :url => {:action => :analyze_filters, :id => @program.id}) do |form| %>
          <div class="ui-field-contain">
            

            <div>
              <%= form.select(:price, @all_prices,{ :prompt => "select a maximum price"}, class: "region_selector", :name => "price_name") %>
            </div> 

            <div>
              <%= form.select(:region, @all_regions,{ :prompt => "select a region"}, class: "region_selector", :name => "region_name") %>
            
            </div>
            <div>
              <%= form.select(:professions, @user_professions,{ :prompt => "select a profession"}, class: "profession_selector", :name => "profession_name") %>
            </div>

            <div>
              <%= radio_button_tag(:housing_type, "Housed") %>
              <%= label_tag(:housing_type_Housed, "Housed") %>
              <%= radio_button_tag(:housing_type, "Unhoused") %>
              <%= label_tag(:housing_type_Unhoused, "Unhoused") %>
              <%= radio_button_tag(:housing_type, "Unsure") %>
              <%= label_tag(:housing_type_Unsure, "Unsure") %>
            </div>

            <div>
              <%= radio_button_tag(:paid, "yes") %>
              <%= label_tag(:paid_yes, "Strong preference toward paid") %>
              <%= radio_button_tag(:paid, "no") %>
              <%= label_tag(:paid_no, "Unpaid is also acceptable") %>
              <%= radio_button_tag(:paid, "unsure") %>
              <%= label_tag(:paid_unsure, "Unsure") %>
            </div>
                
            <div>
              <%= form.submit "Filter Results" %>
            </div>  

          </div>
      <% end %> <!-- ends the form -->
    </div>

    
  <% end %> <!-- ends the if/else statement -->
</div>
