<html>
<head>

</head>
<body>




<!-- Homepage -->
<div data-role="page">
  <!-- figure out whose page it is -->

  <% person = User.find_by_id(session[:user_id]) %>
  <% if (person == nil) then %>
    <center><h1>
      <%= link_to("Log in to view this page", controller: "users", action: "login") %>
    </h1></center>
  <% else %>
  

    <!--Header: Contains the navigation bar -->
    <div data-role="header">
      <div data-role="navbar">
        <ul>

          <li>
            <a href="/users/homepage" class="ui-btn" id = "home_icon"> 
              <i class="fa fa-home fa-inverse fa-lg"></i>
            </a>
          </li>
          <% if (person.quiz_taken == false) %>
            <li>
              <a href="/professions/quiz" class="ui-btn" id = "interests_icon">
                <i class="fa fa-suitcase fa-inverse fa-lg"></i>
              </a>
            </li>
          <% else %>
            <li>
              <a href="/professions/myprofessions" class="ui-btn" id = "interests_icon">
                <i class="fa fa-suitcase fa-inverse fa-lg"></i>
              </a>
            </li>
          <%end%>

          <li>
            <a href="/programs/search" class="ui-btn" id = "search_icon">
              <i class="fa fa-search fa-inverse fa-lg"></i>
            </a>
          </li>

          <li>
            <a href="/users/logout" class="ui-btn" id = "logout_icon">
              <i class="fa fa-sign-out fa-inverse fa-lg"></i>
            </a>
          </li>

        </ul>
      </div>
    </div>



  <br>
  <br>


    <center><%= image_tag(person.photo_filename, size: "125x125", id: "profile_picture") %></center>

    <h1><center><%= person.first_name + " " + person.last_name %></center></h1>
    
    <ul data-role="listview" data-inset="true" data-divider-theme="a" id = "homepage_content" data-icon = "delete">
      <li data-role="list-divider">updates</li>
      <li>no new updates</li>


      <li data-role="list-divider">my professions</li>
        <%for profession in person.professions %>
          <li><a href = "">
            <h1><%= profession.title %></h1>
            <p><%= profession.description %></p>
          </a></li>
        <%end%>      

      <li data-role="list-divider">my programs</li>
        <% for program in person.programs %>
          <li><%= program.title %></li>
        <%end%>      

    </div>

   <!--  <div class = "homepage_content">

      <div class = "my_updates">
        <h2><center>Updates</center></h2>
      </div>

      <div class="my_professions">
        <h2><center>My Professions<center></h2>
        <%for profession in person.professions %>
          <center><h2><%= profession.title %></h2></center>
        <%end%>

      </div>


      <h2><center>My Programs<center></h2>
      <% for program in person.programs %>
      <%= program.title %><br/>


    </div>
 -->
    <%end%>
  <% end %>
</div>

  
</body>
</html>