<html>
<head>

</head>
<body>




<!-- Homepage -->
<div data-role="page">
  <!-- figure out whose page it is -->

  <% person = User.find_by_id(session[:user_id]) %>
  <% if (person == nil) then %>
    <center><h1>
      <%= link_to("Log in to view this page", controller: "users", action: "login") %>
    </h1></center>
  <% else %>
    <%= render "layouts/nav" %>
  

  



  <br/>
  <br/>


    <center><%= image_tag(person.photo_filename, size: "125x125", id: "profile_picture") %></center>

    <h1><center><%= person.first_name + " " + person.last_name %></center></h1>
    
    <ul data-role="listview" data-inset="true" data-divider-theme="a" id = "homepage_content" data-icon = "delete">
      <li data-role="list-divider">updates</li>
      <li>no new updates</li>


      <li data-role="list-divider">my professions</li>
        <%for profession in person.professions %>
          <li><a href = "/professions/index">
            <h1><%= profession.title %></h1>
            <p><%= profession.description %></p>
          </a></li>
        <%end%>   
<!--         <%= link_to("Delete", controller: "users", action: "delete") %>   
 -->
      <li data-role="list-divider">my programs</li>
        <% for program in person.programs %>
          <li><%= program.title %></li>
        <%end%>  
    </ul>    

    </div>

   <!--  <div class = "homepage_content">

      <div class = "my_updates">
        <h2><center>Updates</center></h2>
      </div>

      <div class="my_professions">
        <h2><center>My Professions<center></h2>
        <%for profession in person.professions %>
          <center><h2><%= profession.title %></h2></center>
        <%end%>

      </div>


      <h2><center>My Programs<center></h2>
      <% for program in person.programs %>
      <%= program.title %><br/>


    </div>
 -->
    <%end%>
  <% end %>
</div>

  
</body>
</html>