<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <%= javascript_include_tag "http://code.jquery.com/jquery-1.11.3.min.js" %>
  <!-- <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>-->
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <style>

    /* Blue color is: #0099FF;
    *  Green color is: #00EC74;
    *  Blue yes/unsure/no color is: #32A5E9;
    *  Light Green: #C1F38D;
    */


    

  </style>


</head>
<body>

<script>

$(document).ready(function(){
  //
});


</script>


<!-- Homepage -->
<div data-role="page">
  <!-- figure out whose page it is -->
  

    <!--Navigation Bar-->
  <div data-role="navbar">
    <ul>
      <li><a href="/users/homepage" class="ui-btn ui-icon-home ui-btn-icon-top ui-nodisc-icon" id = "home_icon"> </a></li>
      <li><a href="/professions/quiz" class="ui-btn ui-icon-heart ui-btn-icon-top ui-nodisc-icon" id = "interests_icon"> </a></li>
      <li><a href="/programs/search" class="ui-btn ui-icon-search ui-btn-icon-top ui-nodisc-icon" id = "search_icon"> </a></li>
      <li><a href="/users/logout" class="ui-btn ui-icon-back ui-btn-icon-top ui-nodisc-icon" id = "logout_icon"> </a></li>
    </ul>
  </div>

  <br>
  <br>
  <% person = User.find_by_id(session[:user_id]) %>
  <% if (person == nil) then %>
  <center><h1>
    <%= link_to("Log in to view this page", controller: "users", action: "login") %>
  </h1></center>
  <% else %>

    <div role="main" class="ui-content">
      <div class="ui-grid-a">
        <div class="ui-block-a">
          <%= image_tag(person.photo_filename, size: "150x150") %>
        </div>
        <div class="ui-block-b">
          <h1> 
            <%= person.first_name + " " + person.last_name %>
          </h1>
          <!--<h2> Description/Position </h2>-->
        </div>
      </div><!-- /grid-a -->
    </div>

    <div class="ui-grid-solo">
      <h1><center>Updates</center></h1>
    </div>
    <h2>My Professions</h2>
    <% for profession in person.professions %>
    <%= profession.title %><br/>
    <%end%>
    <h2>My Programs</h2>
    <% for program in person.programs %>
    <%= program.title %><br/>
    <%end%>
  <% end %>
</div>

  
</body>
</html>













