<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />

  <style>

  </style>

</head>
<body>

<!-- Login Page -->
<div data-role="page">
  <div data-role="header" id = "top-header">
    <h1>connect</h1>
  </div>

  <center><h4> <%= params[:error] %> </h4></center>

  <div data-role="main" class="ui-content">
    <!-- <form method="post" action="demoform.asp"> -->
    <%= form_for(@user, :method => :post, :url => {:action => :post_login, :id => @user.id}) do |form| %>
      <div class="ui-field-contain">
        <div>
          <%= form.label(:login, "Username:")%>
          <%= form.text_field(:login) %>
        </div>
            <!-- <input type="text" name="username" id="username" placeholder = "username">  -->
        <br> 
        <div>
          <%= form.label(:password, "Password:")%>
          <%= form.password_field(:password) %> 
        </div>    
            <!-- <input type="password" name="password" id="password" placeholder="password"> -->
        <br>
        <br>
      </div>
      <!-- <a href="homepage.html" data-role="button" data-mini="true">login</a> -->
      <div>
        <%= form.submit "Log In" %>
      </div>
      <br>
      <div style="text-align: center">
        <a href="new_account.html" data-role="button" data-inline="true" data-mini="true">new account</a>
      </div>
    <% end %>
    <!-- </form> -->
  </div>
</div> 
<%= yield %>


  <!-- <div data-role="main" class="ui-content">
    <form method="post" action="demoform.asp">
      <div class="ui-field-contain">
        <input type="text" name="username" id="username" placeholder = "username"> 
        <br>      
        <input type="password" name="password" id="password" placeholder="password">
        <br>
        <br>
      </div>
      <a href="homepage.html" data-role="button" data-mini="true" id = "login-button">login</a>
      <br>
      <div style="text-align: center">
        <a href="new_account.html" data-role="button" data-inline="true" data-mini="true" id = "new-account-button">new account</a>
      </div>
    </form>
  </div>
</div>  -->

</body>
</html>













