<html>
<head>
  <style>
  </style>
</head>
<body>

<!-- Login Page -->
<div data-role="page">
  <div data-role="header" id = "top-header">
    <h1 id = "intro_title">connect</h1>
  </div>

  <center><h4> <%= params[:error] %> </h4></center>

  <div data-role="main" class="ui-content">
    <%= form_for(@user, :method => :post, :url => {:action => :post_login, :id => @user.id}) do |form| %>
      <div class="ui-field-contain">
          <%= form.text_field :login, :placeholder => "username" %>
          <%= form.password_field :password, :placeholder => "password" %> 
          <%= form.submit "log in" %>
          <center><a href="/users/new" data-role="button" data-inline="true" data-mini="true">new account</a></center>
          <% end %>
      </div>
  </div> 
<%= yield %>

</body>
</html>













