<div data-role="header" id = "top-header">
<div id = "header-content">
  <%= image_tag("connectLogo.png", size: "65x65", id: "logo") %>
  <h1 class = "intro_title">connect</h1>
</div>
</div>

<div id = "new-account-content">
	<h4> <%= params[:error] %> </h4>

	<% @user.errors.full_messages.each do |msg| %>
		<h1><%= msg %></h1>
	<% end %>

	<%= form_for(@user, :method => :post, :url => {:action => :create, :id => @user.id}) do |form| %>
		<table class="form">
			<tr class = "login_row">
				<td>
					<%= form.text_field(:first_name, :placeholder => "first name") %>
				</td>
			</tr>
			<tr>
				<td>
					<%= form.text_field(:last_name, :placeholder => "last name") %>
				</td>
			</tr>
			<tr>
				<td>
					<%= form.text_field(:login, :placeholder => "login username") %>
				</td>
			</tr>
			<tr>
				<td>
					<%= form.password_field(:password, :placeholder => "password") %>
				</td>
			</tr>
			<tr>
				<td>
					<%= form.password_field(:password1, :placeholder => "confirm password") %>
				</td>
			</tr>
			<tr class = "login_row">
				<td>
					<%= form.label(:photo_filename, "Upload Profile Photo:")%>
					<%= form.file_field(:photo_filename) %>
				</td>
			</tr>
			<tr>
				<td>
					<%= form.submit "Register" %>
				</td>
			</tr>
		</table>
	</div>
<% end %>