<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>jQuery Mobile: Theme Download</title>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <title>Connect</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "my-custom-theme.min", "jquery.mobile.icons.min" %>
  <%= csrf_meta_tags %>
</head>
	<body>
		<!-- Script -->

		<!-- Login Page -->
		<div data-role="page" id = "login">
		  <div data-role="header" style = "background: #66CCFF">
		    <h1 style = "color: white">connect</h1>
		  </div>

		  <div data-role="main" class="ui-content">
		    <!-- <form method="post" action="demoform.asp"> -->
		    <%= form_for(@user, :method => :post, :url => {:action => :post_login, :id => @user.id}) do |form| %>
		      <div class="ui-field-contain">
		        <input type="text" name="username" id="username" placeholder = "username"> 
		        <br>      
		        <input type="password" name="password" id="password" placeholder="password">
		        <br>
		        <br>
		      </div>
		      <a href="homepage.html" data-role="button" data-mini="true">login</a>
		      <br>
		      <div style="text-align: center">
		      	<a href="new_account.html" data-role="button" data-inline="true" data-mini="true">new account</a>
		      </div>
		    <% end %>
		    <!-- </form> -->
		  </div>
		</div> 
	<!-- <div class="welcome_message">
		Greetings!
	 	<%= link_to("Log In", controller: "users", action: "index") %>
	</div> -->
	<%= yield %>

	</body>
</html>

