<h1>Analyze Results </h1>
<%= @quiz_results.speaking %>
<%= @quiz_results.persuading %>
<%= @quiz_results.writing %>
<%=@quiz_results.taking_initiative%>
<%=@quiz_results.analyzing%>
<%=@quiz_results.creating%>

<h2>Hello</h2>
<%= @real_results.writing %>

<h2>Goodbye</h2>
<% for profession in @all_professions %>
	<%= "hello" %>
	<%= profession.title %>
	<%result = Quiz.find_by_id(profession.quiz_id)%>
	<%= result.writing %>
<% end %>

<% for result in @ranked_list %>
	<br/>
	<%= result.value %>
	<%= result.profession.title %>

<% end %>
