<div data-role="page">
<%= render "layouts/nav" %>


<% person = User.find_by_id(session[:user_id]) %>
  <% if (person == nil) then %>
    <center><h1>
      <%= link_to("Log in to view this page", controller: "users", action: "login") %>
    </h1></center>
  <% else %>

	<% if (@all_professions == nil) then %>
		<h1>Professions: </h1>
	<% else %>
		<h1> Professions: </h1>
		<% for profession in @all_professions %>
			<div> <%= profession.title %> </div>
			<div> <%= profession.description %> </div>
			<%= image_tag(profession.file_name, size: "200x150") %>
			<%= link_to("Add to My Professions", controller: "professions", action: "add", id: profession.id) %>
			<br/><br/><br/>
		<% end %>
	<% end %>
<% end %>
</div>

