<div data-role="page">
<%= render "layouts/nav" %>


<% person = User.find_by_id(session[:user_id]) %>
  <% if (person == nil) then %>
    <center><h1>
      <%= link_to("Log in to view this page", controller: "users", action: "login") %>
    </h1></center>
  <% else %>

	<% if (@all_professions == nil) then %>
		<h1><center>Professions<center></h1>
	<% else %>
		<h1><center>Professions</center></h1>
		<% for profession in @all_professions %>
			<div class = "all-profession-info">
				<div class = "all-profession-title">
					<h2><%= profession.title %> </h2>
				</div>
				<div class = "all-professions-image">
					<%= image_tag(profession.file_name, class: "prof_image") %>
				</div>
				<div class = "all-professions-description">
					<h3><%= profession.description %></h3>
					<button type="button" id = "add-to-professions">
						<%= link_to("Add to My Professions", controller: "professions", action: "add", id: profession.id) %>
					</button>
				</div>
				
				

			</div>
		<% end %>
	<% end %>
<% end %>
</div>

