

<!-- Homepage -->
<div data-role="page">
  <!-- figure out whose page it is -->

  <% person = User.find_by_id(session[:user_id]) %>
  <% if (person == nil) then %>
    <center><h1>
      <%= link_to("Log in to view this page", controller: "users", action: "login") %>
    </h1></center>
  <% else %>

    <%= render "layouts/nav" %>


    <!--Main Page: Contains the main content on the page -->
    <div data-role="main" class="ui-content">
      <center>
      <h1>My Professions </h1>

        <ul data-role="listview" data-inset="true" data-divider-theme="a" id = "homepage_content" data-icon = "delete">

              <%for profession in person.professions %>
                <li><a href = "">
                  <%= image_tag(profession.file_name, class: "myprofession_image") %>
                  <h1><%= profession.title %></h1>
                  <p><%= profession.description %></p>

                </a></li>
              <%end%>      
    
          </ul>
      

    <button type="button" id = "find-more-button"><%= link_to "Find More Professions", controller: "professions", action: "index" %></button>
    <!-- <div id = "find-prof-button">
      <%= link_to "Find More Professions", controller: "professions", action: "index" %>
    </div> -->

    <button type="button" id = "retake-profession-quiz"><%= link_to "Retake Profession Quiz", controller: "professions", action: "quiz" %></button>

  <!--   <div id = "retake-quiz-button">
      <%= link_to "Retake Profession Quiz", controller: "professions", action: "quiz" %>
    </div> -->

    </center>
    </div>
    

    
  <% end %> <!-- ends the if/else statement -->
</div>








