

<!-- Homepage -->
<div data-role="page">
  <!-- figure out whose page it is -->

  <% person = User.find_by_id(session[:user_id]) %>
  <% if (person == nil) then %>
    <center><h1>
      <%= link_to("Log in to view this page", controller: "users", action: "login") %>
    </h1></center>
  <% else %>

    <%= render "layouts/nav" %>


    <!--Main Page: Contains the main content on the page -->
    <div data-role="main" class="ui-content">
      <center>
      <h1>My Professions </h1>
      <% for profession in person.professions %>
        <%= profession.title %><br/>
        <%= profession.description %><br/>
        <%= image_tag(profession.file_name, size: "200x150") %><br/>
      <% end %>
    
    <%= link_to "Find More Professions", controller: "professions", action: "index" %>
    <br/>
    <%= link_to "Retake Profession Quiz", controller: "professions", action: "quiz" %>
    </center>
    </div>
    

    
  <% end %> <!-- ends the if/else statement -->
</div>








