

<!-- Homepage -->
<div data-role="page">
  <!-- figure out whose page it is -->

  <% person = User.find_by_id(session[:user_id]) %>
  <% if (person == nil) then %>
    <center><h1>
      <%= link_to("Log in to view this page", controller: "users", action: "login") %>
    </h1></center>
  <% else %>

    <!--Header: Contains the navigation bar -->
    <div data-role="header">
      <div data-role="navbar">
        <ul>
          <li><a href="homepage.html" class="ui-btn ui-icon-home ui-btn-icon-top ui-nodisc-icon" id = "home_icon"> </a></li>
          <li><a href="/professions/quiz" class="ui-btn ui-icon-heart ui-btn-icon-top ui-nodisc-icon" id = "interests_icon"> </a></li>
          <li><a href="search.html" class="ui-btn ui-icon-search ui-btn-icon-top ui-nodisc-icon" id = "search_icon"> </a></li>
          <li><a href="index.html" class="ui-btn ui-icon-back ui-btn-icon-top ui-nodisc-icon" id = "logout_icon"> </a></li>
        </ul>
      </div>
    </div>


    <!--Main Page: Contains the main content on the page -->
    <div data-role="main" class="ui-content">
      <center>
      <h1>My Professions </h1>
      <% for profession in person.professions %>
        <%= profession.title %><br/>
        <%= profession.description %><br/>
        <%= image_tag(profession.file_name, size: "200x150") %><br/>
      <% end %>
    
    <%= link_to "Find More Professions", controller: "professions", action: "index" %>
    </center>
    </div>
    

    
  <% end %> <!-- ends the if/else statement -->
</div>








