<html>
<head>

  <style>

    /* Blue color is: #0099FF;
    *  Green color is: #00EC74;
    *  Blue yes/unsure/no color is: #32A5E9;
    *  Light Green: #C1F38D;
    */


    #home_icon {
      background-color: #0099FF;
      border-color: #0099FF;
      border-bottom-width: 5px;
      border-bottom-color: #66ccff;
    }

    #interests_icon {
      background-color: #0099FF;
      border-color: #0099FF;
      border-bottom-width: 5px;
      border-bottom-color: #66ccff;
    }

    #search_icon {
      background-color: #0099FF;
      border-color: #0099FF;
      border-bottom-width: 5px;
      border-bottom-color: #66ccff;
    }

    #logout_icon {
      background-color: #0099FF;
      border-color: #0099FF;
      border-bottom-width: 5px;
      border-bottom-color: #66ccff;
    }

    h1 {
      font-family: 'Open Sans';
      font-size: 30px;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 500;
      line-height: 26.4px;
      color: #808080;
    }

    h3 {
      font-family: 'Open Sans';
      font-size: 20px;
      text-transform: lowercase;
      font-style: normal;
      font-weight: 500;
      line-height: 26.4px;
      text-align: center;
      color: #808080;
    }

    p {
      font-family: 'Open Sans';
      font-size: 16px;
      text-transform: lowercase;
      font-style: normal;
      font-weight: 500;
      line-height: 26.4px;
      color: #808080;    
    }

  </style>
</head>

<body>

<script>

$(document).ready(function(){
  //
});


</script>


<!-- Homepage -->
<div data-role="page">

  <!--Navigation Bar-->
  <div data-role="navbar">
    <ul>
      <li><a href="/users/homepage.html" class="ui-btn ui-icon-home ui-btn-icon-top ui-nodisc-icon" id = "home_icon"> </a></li>
      <li><a href="/professions/quiz" class="ui-btn ui-icon-heart ui-btn-icon-top ui-nodisc-icon" id = "interests_icon"> </a></li>
      <li><a href="/programs/search" class="ui-btn ui-icon-search ui-btn-icon-top ui-nodisc-icon" id = "search_icon"> </a></li>
      <li><a href="/users/logout" class="ui-btn ui-icon-back ui-btn-icon-top ui-nodisc-icon" id = "logout_icon"> </a></li>
    </ul>
  </div>


  <h1><center>Results</center></h1>

    <div data-role="collapsible" data-collapsed="false">
      <h3><%= @first.title %></h3>
        <div class="ui-grid-a">
          <div class="ui-block-a">
            <%= image_tag(@first.file_name, size: "200x150") %>
          </div>
          <div class="ui-block-b">
            <p> <%= @first.description %> </p>
          </div>
        </div>
    </div>
  
    <div data-role="collapsible">
      <h3><%= @second.title %></h3>
        <div class="ui-grid-a">
          <div class="ui-block-a">
            <%= image_tag(@second.file_name, size: "200x150") %>
          </div>
          <div class="ui-block-b">
            <p> <%= @second.description %> </p>
          </div>
        </div>
    </div>

    <div data-role="collapsible">
      <h3><%= @third.title %></h3>
        <div class="ui-grid-a">
          <div class="ui-block-a">
            <%= image_tag(@third.file_name, size: "200x150") %>
          </div>
          <div class="ui-block-b">
            <p> <%=@third.description %> </p>
          </div>
        </div>
    </div>

    <div data-role="collapsible">
      <h3><%= @fourth.title %></h3>
        <div class="ui-grid-a">
          <div class="ui-block-a">
            <%= image_tag(@fourth.file_name, size: "200x150") %>
          </div>
          <div class="ui-block-b">
            <p><%= @fourth.description %> </p>
          </div>
        </div>
    </div>

    <div data-role="collapsible">
      <h3><%= @fifth.title %></h3>
        <div class="ui-grid-a">
          <div class="ui-block-a">
            <%= image_tag(@fifth.file_name, size: "200x150") %>
          </div>
          <div class="ui-block-b">
            <p> <%=@fifth.description %> </p>
          </div>
        </div>
    </div>

    <h1>
      <% for profession in @user_professions %>
      <%= profession.title %>
      <% end %>

    



</div>

  
</body>
</html>













